@font-face {
    font-family: 'TSDeniz-Bold';
    src: url(./fonts/TSDeniz-Bold.otf);
}
@font-face {
    font-family: 'TSDeniz-Regular';
    src: url(./fonts/TSDeniz-Regular.otf);
}
body{
    margin: 0;
    direction: rtl;
    font-family: 'TSDeniz-Regular';
}
.container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    margin: auto;
    background-color: #eee;
}
.capture{
    width: 100%;
    position: relative;
    display: flex;
    margin: auto;
    max-width: fit-content;
}
.capture img{
    max-width: 100%;
    width: 100%;
    max-height: 1200px;
    object-fit: contain;
}
#capture-button {
    display: inline-flex;
    width: max-content;
    background-color: #fff;
    border: none;
    color: #2e2e79;
    font-size: 20px;
    font-weight: bold;
    border-radius: 4px;
    padding: 10px 24px;
    cursor: pointer;
    height: max-content;
}
.containerInput {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    font-family: 'TSDeniz-Regular';
}
.containerInput label {
    display: inline-flex;
    letter-spacing: 1px;
    margin-bottom: 8px;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
}
.containerInput input#inputField {
    border: 1px solid #5e5e5e;
    padding: 0 16px;
    font-size: 16px;
    font-family: 'TSDeniz-Regular';
    border-radius: 4px;
    height: 30px;
}
.contentGroup{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    z-index: 5;
    position: absolute;
    bottom: 100px;
    right: 5%;
}
h6#innerValue {
    position: absolute;
    top: 46%;
    right: 5%;
    max-width: 500px;
    z-index: 3;
    word-break: break-word;
    color: #fff;
    font-size: 35px;
    font-family: 'TSDeniz-Bold';
}